*{
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    background:  	#151515;
    width: 100%;
    height: auto;
    margin-top: 80px;
}
    header{
        width: 100%;
        background: black;
        position: fixed;
        top: 0;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
    }
    header img {
        height: 50px;
    }
    #menu-icon{
        float: right;
        width: 45px;
        height: 45px;
        border-radius: 2px;
        margin: 4.5px 10px;
        background: #6a0305;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #menu-icon p {
        margin: 3px auto;
        width: 70%;
        border: 1px solid white;
        border-radius: 2px;
    }
    #nav-dropdown{
        position: absolute;
        width: 100%;
        background: black;
        z-index: 1;
        display: none;
    }
    .nav-option{
        width: auto;
        border-top: 1px solid #404040;
        color: white;
        padding: 20px;
    }
    .nav-option:last-of-type{
        border-bottom: 1px solid #404040;
    }
